@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  font-family: "Fira Sans", sans-serif;
}

/* ---------------- */
/*   LANDING PAGE   */
/* ---------------- */

#leftLanding {
  grid-column: 1;
  margin: 25px 0px 0px 25px;
}

#rightLanding {
  grid-column: 2;
}

#landingPage {
  margin-left: 25px;
  overflow-x: hidden;
  overflow-y: hidden;

  display: grid;
}

#iconHeaderContainer {
  width: 130px;
  height: 40px;
}

#iconHeaderContainer .iconHeaderImage {
  width: 100%;
  height: 100%;
}

#headerLandingContainer {
  margin-top: 50px;
  width: 440px;
  height: 130px;
}

#headerLandingContainer .headerLandingImage {
  width: 100%;
  height: 100%;
}

#subHeaderLandingContainer {
  position: relative;
  top: 50px;
  width: 400px;
  height: 100px;
}

#subHeaderLandingContainer .subHeaderLandingImage {
  width: 100%;
  height: 100%;
}

#bookcaseLandingContainer {
  float: right;
  max-width: 80%;
  height: 100vh;
}

#bookcaseLandingContainer .bookcaseLandingImage {
  width: 100%;
  height: 100%;
}

#homeButtonContainer {
  position: relative;
  margin-left: -20px;
  top: 100px;
  left: 20px;
  display: flex;
}

#homeButtonContainer span {
  margin-left: 15px;
}

#signUpButton {
  width: 200px;
}

#signInButton {
  width: 200px;
}

#modalRegularText {
  font-size: 18px;
  text-align: center;
}

/* ---------------- */
/*        SIDEBAR   */
/* ---------------- */

#sidebar{
  position: fixed;
}


#sidebarLink ul {
  list-style-type: none;
  text-decoration: none;
  font-size: 25px;
  font-weight: normal;
}

#sidebarLink .linkText {
  color: #929292;
}

#sidebarLink .linkText:hover {
  color: black;
}

.linkTextSidebarLogout:hover {
  color: black;
}

#homeHeroImageContainer {
  padding: 25px 0px 0px 0px;
  width: 70vw;
  height: 60vh;
}

#homeHeroImageContainer .homeHeroImage {
  width: 100%;
  height: 100%;
}

#sidebarProfileImageContainer {
  display: block;
  margin: auto;
  border: 4px solid #e5e5e5;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#sidebarProfileImageContainer .sidebarProfileImage {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#userInfo .userInfoName {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
}

/* ------------- */
/*     PROFILE   */
/* ------------- */

#profileWrapper .profileBackground {
  background-color: #fdede6;
  border-radius: 10px;
}

#profileWrapper .profileTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 37px;
  margin-bottom: 50px;
}

#profileWrapper .profileArea {
  padding: 20px;
}

#profileWrapper .profileIcon {
  position: relative;
  width: 35px;
  height: 35px;
  color: #8a8c90;
  margin: 10px 0px 25px 10px;
}

#profileWrapper .profileName {
  position: relative;
  right: 20px;
  top: 10px;

  font-style: normal;

  font-size: 14px;
  font-weight: 800;
  color: #050505;
}

#profileWrapper .profileDesc {
  position: relative;
  right: 20px;
  width: 100px;
  height: 16px;

  font-size: 12px;
  color: #8a8c90;
}

#profileWrapper .profilePictureContainer {
  width: 196px;
  height: 200px;
}

#profileWrapper .profilePictureImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* ---------------- */
/*      My Library  */
/* ---------------- */

#bookImageContainer {
  width: 180px;
  height: 250px;
}

#bookImageContainer .bookImage {
  width: 100%;
  height: 100%;
}



#bookCardDescription .bookTitle {
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
}

#bookCardDescription .bookAuthor {
  font-family: 'Times New Roman', Times, serif; 
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #929292;
}
